<div class="user-page">
  <div class="user-prof">
    <div class="user">
      <% if @user.image? %>
        <%= image_tag @user.image.to_s %>
      <% else %>
        <%= image_tag "default.jpg" %>
      <% end %>
      <p><%= @user.name %></p>
      <% if @user.id == current_user.id %>
        <span><%= link_to "プロフィール編集","/users/#{@user.id}/edit" %></span>
        <span><%= link_to "新規投稿", "/posts/new" %></span>
      <% end %>
      <div class="my-profile">
        <%= simple_format(@user.profile) %>
      </div>
    </div>
    <div class="mypost">
      <h1><%= @user.name %>の投稿(<%= @user.posts.count %>)</h1>
      <hr>
      <% @posts.each do |post| %>
        <p><%= link_to "#{post.title}", "/posts/show/#{post.id}" %></p>
      <% end %>
      <span><%= paginate @posts, :window => 1 %></span>
    </div>
    <hr>
    <div class="your-batch">
      <p id="batch-t">あなたの称号</p>
      <% if @user.likes.count != 0 %>
        <div class="batch">
          <% a = degree(@user.likes.count,"いいね") %>
          <div><%= a[0] %></div>
          <%= image_tag "#{a[1]}.jpg" %>
        </div>
      <% end %>
      <% if @user.posts.count != 0 %>
        <div class="batch">
          <% a = degree(@user.posts.count,"投稿") %>
          <div><%= a[0] %></div>
          <%= image_tag "#{a[1]}.jpg" %>
        </div>
      <% end %>
      <% if @user.comments.count != 0 %>
        <div class="batch">
          <% a = degree(@user.comments.count, "コメント") %>
          <div><%= a[0] %></div>
          <%= image_tag "#{a[1]}.jpg" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
<script>
$(function(){
  $('.batch').hover(function(){
    $(this).find('div').show();
  },
  function(){
    $(this).find('div').hide();
  });
});
</script>