<h1 class="title">タイムライン</h1>
<div class="container-posts">
  <% @posts.each do |post| %>
    <%= link_to "/posts/show/#{post.id}" do %>
      <div class="index-post"> 
        <p><%= post.title %></p>
        <% if !post.image? %>
          <%= image_tag "default.jpg" ,:size => "196x166" %>
        <% else %>
          <%= image_tag post.image.to_s ,:size => "196x166"%>
        <% end %>
      </div>
    <% end %>
  <% end %>
  <%= paginate @posts,:window => 1 %>
</div>
<script>
  $(function(){
    $('.index-post').hover(
      function(){
        $(this).stop().animate({
          width: "210",
          height: "210"
        });
      },
      function(){
        $(this).stop().animate({
          width: "200",
          height: "200"
          });
        });
  });
</script>