<div class="header">
  <div id="logo">
    <% if current_user %>
      <%= link_to "C-Bonds","/users/#{current_user.id}" %>
    <% else %>
      <%= link_to "C-Bonds","/" %>
    <% end %>
  </div>
  <ul class="for-pc">
    <!-- <li><%= link_to "Help", "/help" %></li>
    <li><%= link_to "About", "/about" %></li> -->
    
    <% if current_user %>
      <li class="account-tab">Account</li> 
      <div class="ac-list">
        <p><%= link_to "マイページ", "/users/#{current_user.id}" %></p>
        <p><%= link_to "プロフィール編集", "/users/#{current_user.id}/edit" %></p>
        <p><%= link_to "タイムライン","/posts/index" %></p>
        <hr>
        <p><%= link_to "ログアウト", "/logout",method: :delete %></p>
      </div>
    <% else %>
      <li><%= link_to "Top", "/" %></li>
      <li class="signin">ログイン</li>
      <li class="signup">新規登録</li>
    <% end %>
  </ul>
  <ul class="for-phone">
    <li><span class="fa fa-align-justify fa-2x"></span></li>
    <div class="toggle-list">
      <!-- <p><%= link_to "Help", "/help" %></p>
      <p><%= link_to "About", "/about" %></p> -->
      <% if current_user %>
        <p><%= link_to "マイページ", "/users/#{current_user.id}" %></p>
        <p><%= link_to "プロフィール編集", "/users/#{current_user.id}/edit" %></p>
        <p><%= link_to "タイムライン","/posts/index" %></p>
        <hr>
        <p><%= link_to "ログアウト", "/logout",method: :delete %></p>
      <% else %>
        <p><%= link_to "Top", "/" %></p>
        <hr>
        <p class="signup">新規登録</p>
        <p class="signin">ログイン</p>
      <% end %>
    </div>
  </ul>
</div>
<script>
$(function(){
  $('.account-tab').click(function(){
    $('.ac-list').slideToggle();
  });
  $('.for-phone').click(function(){
    $('.toggle-list').slideToggle();
  });

});
</script>